<p>tabla-especializacion works!</p>

<p-table [value]="especializacion" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Especializacion</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-especializacion>
        <tr>
            <td>{{especializacion.id}}</td>
            <td>{{especializacion.especializacion}}</td>
            <td>
                <button (click)="enviarEdicion(especializacion)">Editar</button>
                <button>Eliminar</button>
            </td>
        </tr>
    </ng-template>
</p-table>
