<p>tabla-paciente works!</p>

<p-table [value]="paciente" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Tipo de documento</th>
            <th>Numero de documento</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>Telefono</th>
            <th>Email</th>
            <th>Estado Civil</th>
            <th>Grupo Sanguineo</th>
            <th>Fecha de Nacimiento</th>
            <th>Lugar de Nacimiento</th>
            <th>Religion</th>
            <th>Etnia</th>
            <th>Tipo de poblacion</th>
            <th>Ocupacion</th>
            <th>Identidad de Genero</th>
            <th>Sexo al Nacer</th>
            <th>PersonalMedId</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paciente>
        <tr>
            <td>{{paciente.id}}</td>
            <td>{{paciente.tipoDocumento}}</td>
            <td>{{paciente.cedula}}</td>
            <td>{{paciente.nombre1}}</td>
            <td>{{paciente.nombre2}}</td>
            <td>{{paciente.apellido1}}</td>
            <td>{{paciente.apellido2}}</td>
            <td>{{paciente.telefono}}</td>
            <td>{{paciente.email}}</td>
            <td>{{paciente.estadoCivil}}</td>
            <td>{{paciente.grupoSanguineo}}</td>
            <td>{{paciente.fechaNacimiento}}</td>
            <td>{{paciente.lugarNacimiento}}</td>
            <td>{{paciente.religion}}</td>
            <td>{{paciente.etnia}}</td>
            <td>{{paciente.tipoPoblacionEspecial}}</td>
            <td>{{paciente.ocupacion}}</td>
            <td>{{paciente.identidadGenero}}</td>
            <td>{{paciente.sexo}}</td>
            <td>{{paciente.personalMedId}}</td>
            <td>
                <button pButton pRipple style="background-color: rgb(71, 167, 71);" icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="enviarEdicion(paciente)"></button>
                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="showResponsiveDialog(paciente)"></button>
                <p-dialog header="Advertencia" [(visible)]="displayResponsive" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}"
                    [draggable]="false" [resizable]="false">
                    <p>Esta seguro que desea eliminar este registro, esta accion no se podra revertir, desea continuar?</p>
                        <ng-template pTemplate="footer">
                        <p-button (click)="displayResponsive=false" label="No" styleClass="p-button-text"></p-button>
                        <p-button (click)="eliminar()" label="Yes" styleClass="p-button-text"></p-button>
                        </ng-template>
                </p-dialog>
            </td>
        </tr>
    </ng-template>
</p-table>