<p>tabla-personal-med works!</p>

<p-table [value]="personalMed" responsiveLayout="scroll">
    <ng-template pTemplate="header">
        <tr>
            <th>Id</th>
            <th>Numero de documento</th>
            <th>Primer Nombre</th>
            <th>Segundo Nombre</th>
            <th>Primer Apellido</th>
            <th>Segundo Apellido</th>
            <th>telefono</th>
            <th>Fecha de Nacimiento</th>
            <th>Id especializacion</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-personalMed>
        <tr>
            <td>{{personalMed.id}}</td>
            <td>{{personalMed.cedula}}</td>
            <td>{{personalMed.nombre1}}</td>
            <td>{{personalMed.nombre2}}</td>
            <td>{{personalMed.apellido1}}</td>
            <td>{{personalMed.apellido2}}</td>
            <td>{{personalMed.telefono}}</td>
            <td>{{personalMed.fechaNacimiento}}</td>
            <td>{{personalMed.especializacionId}}</td>
            <td>
                <button (click)="enviarEdicion(personalMed)">Editar</button>
                <button>Eliminar</button>
            </td>
        </tr>
    </ng-template>
</p-table>