<p>form-personal-med works!</p>

<form [formGroup]="formPersonalMed" (ngSubmit)="enviarDatos()">
    <p>Numero de documento</p>
    <input type="text" formControlName="cedula">
    <p>Primer Nombre</p>
    <input type="text" formControlName="nombre1">
    <p>Segundo Nombre</p>
    <input type="text" formControlName="nombre2">
    <p>Primer Apellido</p>
    <input type="text" formControlName="apellido1">
    <p>Segundo Apellido</p>
    <input type="text" formControlName="apellido2">
    <p>Telefono</p>
    <input type="text" formControlName="telefono">
    <p>Fecha de Nacimiento</p>
    <input type="date" formControlName="fechaNacimiento">
    <p>Especializacion</p>
    <input type="number" formControlName="especializacionId">
    <button [disabled]="formPersonalMed.invalid">Enviar</button>
</form>
