<p>form-personal-med works!</p>

<form [formGroup]="formPersonalMed" (ngSubmit)="enviarDatos()">
    <br>
    <div>
        <label>Numero de documento</label><br>
        <input type="text" formControlName="cedula" pInputText> 
    </div>
    <br>
    
    <div>
        <label>Primer Nombre</label><br>
        <input type="text" formControlName="nombre1" pInputText> 
    </div>
    <br>
    
    <div>
        <label>Segundo Nombre</label><br>
        <input type="text" formControlName="nombre2" pInputText> 
    </div>
    <br>
    
    <div>
        <label>Primer Apellido</label><br>
        <input type="text" formControlName="apellido1" pInputText> 
    </div>
    <br>
    
    <div>
        <label>Segundo Apellido</label><br>
        <input type="text" formControlName="apellido2" pInputText> 
    </div>
    <br>
    
    <div>
        <label>Telefono</label><br>
        <input type="text" formControlName="telefono" pInputText> 
    </div>
    <br>

    <div class="p-field p-col-12 p-md-4">
        <label>Fecha de Nacimiento</label><br>
        <p-calendar inputId="basic" formControlName="fechaNacimiento"></p-calendar>
    </div>
    <br>

    <div>
        <label>Especializacion</label><br>
        <input type="number" formControlName="especializacionId" pInputText> 
    </div>
    <br>
</form>

<ng-container *ngIf="!guardar;else save"></ng-container>

<ng-template #save>  
    <p-button [disabled]="formPersonalMed.invalid" label="Guardar" (click)="enviarDatos()"></p-button>
</ng-template>

<ng-container *ngIf="!editar;else edit"></ng-container>

<ng-template #edit>  
    <p-button [disabled]="formPersonalMed.invalid" label="Guardar edicion"></p-button>
</ng-template>

