<p>form-paciente works!</p>

<form [formGroup]="formPaciente" (ngSubmit)="enviarDatos()">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <label>Tipo de documento</label><br>
            <input type="text" formControlName="tipoDocumento" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Numero de documento</label><br>
            <input type="text" formControlName="cedula" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Primer Nombre</label><br>
            <input type="text" formControlName="nombre1" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Segundo Nombre</label><br>
            <input type="text" formControlName="nombre2" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Primer Apellido</label><br>
            <input type="text" formControlName="apellido1" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Segundo Apellido</label><br>
            <input type="text" formControlName="apellido2" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Telefono</label><br>
            <input type="text" formControlName="telefono" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Email</label><br>
            <input type="text" formControlName="email" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Estado civil</label><br>
            <input type="text" formControlName="estadoCivil" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Grupo Sanguineo</label><br>
            <input type="text" formControlName="grupoSanguineo" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Fecha de Nacimiento</label><br>
            <p-calendar inputId="basic" formControlName="fechaNacimiento"></p-calendar>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Lugar de Nacimiento</label><br>
            <input type="text" formControlName="lugarNacimiento" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Religion</label><br>
            <input type="text" formControlName="religion" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Etnia</label><br>
            <input type="text" formControlName="etnia" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Tipo de poblacion</label><br>
            <input type="text" formControlName="tipoPoblacion" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Ocupacion</label><br>
            <input type="text" formControlName="ocupacion" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Identidad de Genero</label><br>
            <input type="text" formControlName="identidadGenero" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Sexo al nacer</label><br>
            <input type="text" formControlName="sexo" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Id de personal Medico</label><br>
            <input type="text" formControlName="personalMedId" pInputText>
        </div>
    </div>

    <button [disabled]="formPaciente.invalid">Enviar</button>
</form>