<p>form-paciente works!</p>

<form [formGroup]="formPaciente" (ngSubmit)="enviarDatos()">
    <p>Tipo de documento</p>
    <input type="text" formControlName="tipoDocumento">
    <p>Numero de documento</p>
    <input type="text" formControlName="cedula">
    <p>Primer Nombre</p>
    <input type="text" formControlName="nombre1">
    <p>Segundo Nombre</p>
    <input type="text" formControlName="nombre2">
    <p>Primer Apellido</p>
    <input type="text" formControlName="apellido1">
    <p>Segundo Apellido</p>
    <input type="text" formControlName="apellido2">
    <p>Telefono</p>
    <input type="text" formControlName="telefono">
    <p>Email</p>
    <input type="text" formControlName="email">
    <p>Estado civil</p>
    <input type="text" formControlName="estadoCivil">
    <p>Grupo Sanguineo</p>
    <input type="text" formControlName="grupoSanguineo">
    <p>Fecha de Nacimiento</p>
    <input type="date" formControlName="fechaNacimiento">
    <p>Lugar de Nacimiento</p>
    <input type="text" formControlName="lugarNacimiento">
    <p>Religion</p>
    <input type="text" formControlName="religion">
    <p>Etnia</p>
    <input type="text" formControlName="etnia">
    <p>Tipo de poblacion</p>
    <input type="text" formControlName="tipoPoblacion">
    <p>Ocupacion</p>
    <input type="text" formControlName="ocupacion">
    <p>Identidad de Genero</p>
    <input type="text" formControlName="identidadGenero">
    <p>Sexo al nacer</p>
    <input type="text" formControlName="sexo">
    <p>Id de personal Medico</p>
    <input type="text" formControlName="personalMedId">
    <button [disabled]="formPaciente.invalid">Enviar</button>
</form>