<p>form-especializacion works!</p>


<form [formGroup]="formEspecializacion">
    <div>
        <label>Nombre de Especializacion</label><br>
        <input type="text" formControlName="nombre" pInputText> 
    </div>


</form>


<ng-container *ngIf="!guardar;else save"></ng-container>

<ng-template #save>  
    <p-button [disabled]="formEspecializacion.invalid" label="Guardar" (click)="enviarDatos()"></p-button>
</ng-template>

<ng-container *ngIf="!editar;else edit"></ng-container>

<ng-template #edit>  
    <p-button [disabled]="formEspecializacion.invalid" label="Guardar edicion" (click)="enviarDatos()"></p-button>
</ng-template>

