<!--<p>form-especializacion works!</p>-->

<ng-container *ngIf="!guardar;else headerGuardar"></ng-container>

<ng-template #headerGuardar>
    <h1>Crear Especializacion</h1>
</ng-template>

<ng-container *ngIf="!editar;else headerEditar"></ng-container>

<ng-template #headerEditar>  
    <h1>Editar Especializacion</h1>
</ng-template>

<form [formGroup]="formEspecializacion">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <label>Nombre de Especializacion</label><br>
            <input type="text" formControlName="nombre" pInputText> 
        </div>
    </div>
</form>

<ng-container *ngIf="!guardar;else save"></ng-container>

<ng-template #save>  
    <p-button [disabled]="formEspecializacion.invalid" label="Guardar" (click)="enviarDatos()"></p-button>
</ng-template>

<ng-container *ngIf="!editar;else edit"></ng-container>

<ng-template #edit>  
    <p-button [disabled]="formEspecializacion.invalid" label="Guardar edicion" (click)="editarDatos()"></p-button>
</ng-template>

