<!--<p>form-historia-clinica works!</p>-->

<ng-container *ngIf="!guardar;else headerGuardar"></ng-container>

<ng-template #headerGuardar>
    <h1>Crear Historia Clinica</h1>
</ng-template>

<ng-container *ngIf="!editar;else headerEditar"></ng-container>

<ng-template #headerEditar>  
    <h1>Editar Historia Clinica</h1>
</ng-template>

<form [formGroup]="formHistoriaClinica" (ngSubmit)="enviarDatos()">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <label>Numero de documento</label><br>
            <input type="text" formControlName="cedula" pInputText> 
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Fecha ingreso de paciente</label><br>
            <p-calendar inputId="basic" formControlName="fechaIngreso"></p-calendar>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Fecha salida de paciente</label><br>
            <p-calendar inputId="basic" formControlName="fechaSalida"></p-calendar>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Tipo de Consulta</label><br>
            <input type="text" formControlName="tipoConsulta" pInputText> 
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Motivo de Consulta</label><br>
            <input type="text" formControlName="motivoConsulta" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Enfermedad Actual</label><br>
            <input type="text" formControlName="enfermedadActual" pInputText>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Antecedentes</label><br>
            <textarea type="text" rows="5" cols="195" formControlName="antecedentes" pInputTextarea></textarea>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Revision de Sistemas</label><br>
            <textarea type="text" rows="5" cols="195" formControlName="revisionDeSistemas" pInputTextarea></textarea>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Examen Fisico</label><br>
            <textarea type="text" rows="5" cols="195" formControlName="examenFisico" pInputTextarea></textarea>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Diagnostico</label><br>
            <textarea type="text" rows="5" cols="195" formControlName="diagnostico" pInputTextarea></textarea>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Tratamiento</label><br>
            <textarea type="text" rows="5" cols="195" formControlName="tratamientoMedico" pInputTextarea></textarea>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <label>Id de Paciente</label><br>
            <input type="number" min=1 formControlName="idPaciente" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Id de Personal Medico</label><br>
            <input type="number" min=1 formControlName="idPersonalMed" pInputText>
        </div>
    </div>
</form>

<ng-container *ngIf="!guardar;else save"></ng-container>

<ng-template #save>  
    <p-button [disabled]="formHistoriaClinica.invalid" label="Guardar" (click)="enviarDatos()"></p-button>
</ng-template>

<ng-container *ngIf="!editar;else edit"></ng-container>

<ng-template #edit>  
    <p-button [disabled]="formHistoriaClinica.invalid" label="Guardar edicion" (click)="editarDatos()"></p-button>
</ng-template>