<p>form-historia-clinica works!</p>

<form [formGroup]="formHistoriaClinica" (ngSubmit)="enviarDatos()">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3">
            <label>Numero de documento</label><br>
            <input type="text" formControlName="cedula" pInputText> 
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Fecha ingreso de paciente</label><br>
            <p-calendar inputId="basic" formControlName="fechaIngreso"></p-calendar>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Fecha salida de paciente</label><br>
            <p-calendar inputId="basic" formControlName="fechaSalida"></p-calendar>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Tipo de Consulta</label><br>
            <input type="text" formControlName="tipoConsulta" pInputText> 
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Motivo de Consulta</label><br>
            <input type="text" formControlName="motivoConsulta" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Enfermedad Actual</label><br>
            <input type="text" formControlName="enfermedadActual" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Antecedentes</label><br>
            <input type="text" formControlName="antecedentes" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Revision de Sistemas</label><br>
            <input type="text" formControlName="revisionDeSistemas" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Examen Fisico</label><br>
            <input type="text" formControlName="examenFisico" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Diagnostico</label><br>
            <input type="text" formControlName="diagnostico" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Tratamiento</label><br>
            <input type="text" formControlName="tratamientoMedico" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Id de Paciente</label><br>
            <input type="number" formControlName="idPaciente" pInputText>
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <label>Id de Personal Medico</label><br>
            <input type="number" formControlName="idPersonalMed" pInputText>
        </div>
    </div>
</form>

<ng-container *ngIf="!guardar;else save"></ng-container>

<ng-template #save>  
    <p-button [disabled]="formHistoriaClinica.invalid" label="Guardar" (click)="enviarDatos()"></p-button>
</ng-template>

<ng-container *ngIf="!editar;else edit"></ng-container>

<ng-template #edit>  
    <p-button [disabled]="formHistoriaClinica.invalid" label="Guardar edicion" (click)="editarDatos()"></p-button>
</ng-template>